@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");

.center{
  position : fixed;
  top : 80%;
  left : 50%;
  transform: translate(-50%, -50%);
}

.title{
  position : fixed;
  top : 20%;
  left : 50%;
  transform : translate(-50% , -50%);
}

.background{
  background-image: url("./Markdown.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}
